{% extends "base.html" %}
{% block content %}
<h1 style="margin-top: 20px;">The team behind the project</h1>

<div class="card mb-3" style="max-width: 540px; margin-top: 30px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">KT Norton</h5>
        <p class="card-text"><small class="text-body-secondary">ktnorton@ischool.berkeley.edu</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px; margin-top: 30px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Megan Nguyen</h5>
        <p class="card-text"><small class="text-body-secondary">meganguyen@ischool.berkeley.edu</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px; margin-top: 30px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Jammy Chan</h5>
        <p class="card-text"><small class="text-body-secondary">jammyc@ischool.berkeley.edu</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px; margin-top: 30px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static/nico_pic.jpg" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Nico Loffreda</h5>
        <p class="card-text"><small class="text-body-secondary">nicolof88@berkeley.edu</small></p>
      </div>
    </div>
  </div>
</div>

<script>
  // add active class
  $("#navbarContent .navbar-nav .contact").addClass("active");
</script>
{% endblock %}