{% extends "base.html" %}
{% block content %}
<h2 style="margin-top: 20px;">Resources and links used throughout the site</h2>
<br>
<p>
  <ul>
    <li><a href='https://www.eia.gov/consumption/residential/reports/2009/state_briefs/index.php' target='blank'>Residential Energy Consumption Survey (RECS) - EIA</a></li>
    <li><a href='https://www.eia.gov/consumption/residential/data/2020/index.php?view=characteristics' target='blank'>Housing Characteristics tables - EIA</a></li>
    <li><a href='https://www.eia.gov/environment' target='blank'>Environmental Impact - EIA</a></li>
    <li><a href='https://www.eia.gov/todayinenergy/detail.php?id=60802' target='blank'>Today in Energy - EIA</a></li>
    <li><a href='https://www.eia.gov/energyexplained' target='blank'>Energy Explained - EIA</a></li>
  </ul>
</p>

<script>
  // add active class
  $("#navbarContent .navbar-nav .resources").addClass("active");
</script>
{% endblock %}