/* --------------------------APPLIED TO ALL ---------------------------*/
@font-face {
    font-family: 'capture_itregular';
    src: url('Capture_it-webfont.eot');
    src: url('Capture_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('Capture_it-webfont.woff2') format('woff2'),
         url('Capture_it-webfont.woff') format('woff'),
         url('Capture_it-webfont.ttf') format('truetype'),
         url('Capture_it-webfont.svg#capture_itregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	background-color:#ffffff;
	padding:0px;
	margin:0px;
}
/*DON'T ADD ANYTHING ELSE TO INNER */
.inner{
	width:1040px;
}
/*DON'T ADD ANYTHING ELSE TO INNER */
.lower{
	margin-top:80px;
}
section{
	padding-top:80px;
	margin-top:-80px;
}
/* ----------------------------END APPLIED TO ALL ----------------------------*/
/*------------------------NAVIGATION BAR ----------------------- */
nav {
	background-color:#000000;
	background-color:#cfcfc4;
	height:79px;
	position:fixed;
	z-index:1000;
	width: 100%;
	top:0px;
}

nav a{
	color:#ffffff;
	text-decoration:none;
	padding:10px 14px;
	display: inline-block; /*taking inline and block properties together*/
	font-family: 'Roboto', sans-serif;
	font-size:18px;
}
a:hover{
	color:#000000;
	border-bottom:5px solid black;
}
.navbar{
	display:flex;
	width:1263px;
	position:relative;
}
.logo{
	width:120px;
	height:76.8px;
	margin:0px 20px 13px 0px;
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    font-size: 17px;
}
.dropdown{
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  float:left;
  overflow:hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.search{
	position:absolute;
	right:10px;
	top:25px;
}

/*----------------------END NAVIGATION BAR-------------------------- */

/* -------------------------ONE SECTION -----------------------------*/
.one{
	overflow:hidden;
	height:600px;

}
.homeimage{
	width:1263px;
	height:550px;
}
.mains{
	position:absolute;
	top:200px;
	left:200px;
	width:800px;
}
.discover{
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
}
.explore{
	border-radius: 50px;
  	border: 2px solid #ffffff;
  	padding: 20px; 
  	margin:40px;
  	width: 100px;
  	height: 10px; 
  	text-align:center;
  	color:#ffffff;
}
.explore:hover{
	background-color:#ffffff;
	color:#000000;
}
.sectiontitle{
	font-size: 35px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	margin: 50px auto auto 20px;
}

/*-------------------------END ONE SECTION----------------------------- */

/*---------------------------TWO SECTION--------------------------------*/
.two{
	height:300px;
}
.label{
	margin:20px auto 10px auto;
	font-size:45px;
	font-family: 'Roboto', sans-serif;
	width:1263px;
	text-align:center;
}
.mission{
	padding:30px 30px 60px 70px;
	font-size:15px;
	font-family: 'Roboto', sans-serif;
	width:1100px;
	text-align:center;
	font-weight: 5;

}
.datasources{
	width:1203px;
	padding:15px;
	text-align:center;
}
.datasources{
	margin:50px auto;
}
/*-----------------------------END TWO SECTION-----------------------------*/

/*-----------------------------THREE SECTION---------------------------------------*/
.three{
	height:350px;
	background-color: #d3d3d3;
	padding: 30px auto auto auto;
}
.features{
	margin:50px auto 40px auto;
	font-size:40px;
	font-family: 'Roboto', sans-serif;
	width:1263px;
	text-align:center;
}
.boxes{
	display:flex;
	flex-direction:row;
	margin: 100px auto 0px 25px;
}

.box1{
	margin:0px 30px 0px 0px;
	width:calc(25% - 20px);
}
.box2{
	margin:0px 30px 0px 0px;
	width:calc(25% - 20px);
}
.box3{
	margin:0px 30px 0px 0px;
	width:calc(25% - 20px);
}
.box4{
	width:calc(25% - 20px);
}
.nico,
.jammy,
.kt,
.megan {
  max-width: 100%; /* Ensure images don't stretch beyond their natural size */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove extra space below images */
}
.title{
	background-color:#eeeeee;
	text-align:center;
	font-size: 24px;
	height:55px;
	padding:10px;
	font-family: 'Roboto', sans-serif;
}
.description{
	height: 20px;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	background-color:#baa898;
	padding: 10px;
	color:#ffffff;
	font-size: 12px;
	line-height:1.5;

}

/*-------------------------------END THREE SECTION-------------------------------------------*/

/*---------------------------------FOUR SECTION --------------------------------------------*/
.four{
	height:1341px;
}
.mission1{
	padding:30px 30px 60px 70px;
	font-size:15px;
	font-family: 'Roboto', sans-serif;
	width:1100px;
	text-align:justify;
	line-height:2;
}
/*---------------------------------END FOUR SECTION--------------------------------------- */

/*---------------------------------FIVE SECTION------------------------------------*/
.five{
	height:706px;
}
.fifth{
	position:relative;
}
.aboutus{
	height: 631.5px ;
}
.rightbox{
	position:absolute;
	background-color:rgba(211,211,211,0.7);
	width:600px;
	height:450px;
	top:80px;
	right:0px;
	left:600px;
	padding:20px;
	border-radius:25px;
}
.top{
	font-size:40px;
	right:600px;
	height:50px;
	font-family: 'Roboto', sans-serif;
}
.line{
	font-size:50px;
}
.paragraph{
	font-size: 14px;
	line-height:1.5;
	font-family: 'Roboto', sans-serif;
	padding:5px;
}
.learnmore{
	border-radius: 25px;
  	border: 2px solid #ffffff;
  	padding:20px; 
  	margin:30px;
  	width: 100px;
  	height: 10px; 
  	text-align:center;
  	color:#ffffff;
	font-family: 'Roboto', sans-serif;
	font-size:15px;
}
.learnmore:hover{
	background-color:#ffffff;
	color:#000000;
}
/*---------------------------------------END FIVE SECTION---------------------------*/

/*------------------------------------SIX SECTION --------------------------------------*/

.sixth{
	width:1263px;
	height:400px;
}
.socialmedia{
	display:flex;
	flex-direction:row;
	position:absolute;
	top: 200px;
	left:340px;
}
.section6{
	background-color:#ffffff;
	height:400px;
	width:1263px;
	position:relative;
}
.facebook, .instagram, .twitter, .googleplus, .youtube{
	width:100px;
	height:100px;
	border: 1px solid black;
	border-radius: 30px;
	text-align:center;
	margin:10px;
	padding-top: 15px;
}
.facebook:hover{
	border:1px solid #ffffff;
}
.instagram:hover{
	border:1px solid #ffffff;
}
.twitter:hover{
	border:1px solid #ffffff;
}
.googleplus:hover{
	border:1px solid #ffffff;
}
.youtube:hover{
	border:1px solid #ffffff;
}
.information{
	display:flex;
	flex-direction:row;
	position:absolute;
	top:370px;
	left:220px;
}
.cause, .accessibility, .careers, .newsroom, .contactus, .termsofuse, .privacypolicy{
	width:100px;
	height:100px;
	text-align:center;
	margin:10px;
	padding: 45px auto;
}
.cause:hover{
	color:#59CD90;
}
.accessibility:hover{
	color:#59CD90;
}
.careers:hover{
	color:#59CD90;
}
.newsroom:hover{
	color:#59CD90;
}
.contactus:hover{
	color:#59CD90;
}
.termsofuse:hover{
	color:#59CD90;
}
.privacypolicy:hover{
	color:#59CD90;
}
.moreinfo{
	position:absolute;
	top:450px;
	left:445px;
	text-align:center;
}
/*---------------------------------END SIX SECTION--------------------------------------*/
/*-----------------------------NON HOME PAGES ------------------------------------*/
/*------------------------------START TO NON HOME PAGE SECTION ONE ------------------*/
.one1{
	height:380px;
}
.first{
	position:relative;
}
.sky{
	height: 400px;
	width:1263px;
}
.mains1{
	position:absolute;
	top:350px;
	right:30px;
}

/*------------------------------END TO NON HOME PAGE SECTION ONE ------------------*/

/*------------------------------START TO NON HOME PAGE SECTION TWO ------------------*/

.two1{
	min-height:8000px;
}
.sectionUS{
	min-height:8000px;
}
.two2{
	height:8000px;
}
.two3{
	margin:300px auto;
	height:2500px;
}
.paragraphs{
	font-family: 'Roboto', sans-serif;
	color:#ffffff ;
	padding: 5px;
	margin: 25px;
	font-size: 50px;
	width: 1183px;
	line-height:1.5;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*------------------------------END TO NON HOME PAGE SECTION TWO ------------------*/
/*------------------------------START TO NON HOME PAGE SECTION THREE ------------------*/

.three1{
	height:300px;
}

/*------------------------------END TO NON HOME PAGE SECTION THREE ------------------*/
/*------------------------------START TO NON HOME PAGE SECTION FOUR ------------------*/
.four1{
	height:2000px;
}



/*------------------------------End TO NON HOME PAGE SECTION FOUR ------------------*/
/*------------------------------START TO NON HOME PAGE SECTION FIVE ------------------*/
.five1{
	height:400px;
}
