<html>
	<head>
		<title>EnergyVista: Navigating Tomorrow's Energy Landscape</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto:500,900" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Text+Me+One|Ubuntu" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC" rel="stylesheet">
	</head>
	<body>
		<nav>
			<div class="inner">
				<div class="navbar">
					<div id="container" class="nav">
						<div class="dropdown">
						<a class="navbutton" href="index.html">Home</a>
						</div>
						<div class="dropdown">
							<a class="navbutton" href="energyoverview.html">Energy Overview</a>
							<div class="dropdown-content">
						      <a href="energyoverview.html#general_trends">Energy Generation Trends</a>
						      <a href="energyoverview.html#consumption">Energy Consumption/Generation Comparison</a>
						      <a href="energyoverview.html#expenditure">Energy Expenditure/Cost</a>
						    </div>
						</div>
						<div class="dropdown">
						<a class="navbutton" href="energyprojections.html">Energy Projections</a>
						</div>
						<div class="dropdown">
						<a class="navbutton" href="cleanenergy.html">Clean Energy & Emissions</a>
							<div class="dropdown-content">
						      <a href="cleanenergy.html#US">CO2 in the US</a>
						      <a href="cleanenergy.html#World">CO2 in the World</a>
						    </div>
						</div>
						<div class="dropdown">
						<a class="navbutton" href="datasources.html">Data Sources</a>
						</div>
						<div class="dropdown">
						<a class="navbutton" href="contact.html">Contact</a>
						<div class="search"><input type="text" placeholder="Search.."></div>
					</div>
				</div>
		</nav>	
		<div class="lower">
			<section class="three1"> <!-- start to section three -->
				<div class="inner">
					<div class="features"> Contact Us </div>
					<div class="datasources">At EnergyVista, we value collaboration and engagement in our shared mission for positive change. If you're passionate about our cause and eager to contribute, reaching out to our dedicated team is both welcomed and encouraged. Whether you have a desire to actively participate, share valuable insights, or contribute factual information that strengthens our advocacy, we are here to welcome your involvement.
					<br><br>
					You can connect with any member of our team through the contact information provided on our website. Feel free to share your thoughts, inquiries, or even relevant data that aligns with our mission. By fostering an open line of communication, we aim to create a community where every contribution matters.
					<br><br>
					Your support, whether through active participation or sharing substantiated information, plays a crucial role in bolstering our cause. Together, we can amplify our impact, fortify our claims with robust data, and work towards creating a positive and lasting change. Thank you for considering joining us on this meaningful journey.:
					<div class="boxes">
						<div class="box1">
							<img class="nico" src="../static/nico_pic.png"/>
							<div class="title">Nico Loffreda</div>
							<div class="description">nicolof88@berkeley.edu
							</div>
						</div>
						<div class="box2">
							<img class="jammy" src="../static/jammy_pic.png"/>
							<div class="title">Jammy Chan</div>
							<div class="description"> jammyc@berkeley.edu </div>
						</div>
						<div class="box3">
							<img class="kt" src="../static/kt_pic.png"/> 
							<div class="title">KT Norton</div>
							<div class="description">ktnorton@berkeley.edu</div>
						</div>
						<div class="box4">
							<img class="megan" src="../static/megan_pic.png"/>
							<div class="title">Megan Nguyen</div>
							<div class="description">meganguyen@berkeley.edu </div>
						</div>
					</div>
				</div> <!-- end inner #3 -->
			</section> <!-- end to section three -->
			
			<section class="five1"><!--start to section five -->
				<div class="inner"> <!-- start to inner #5 -->
					<div class="section6">
						<div class="socialmedia">
							<div class="facebook"><span style="font-size: 3rem;"><i class="fab fa-facebook-f"></span></i><div>Facebook</div></div>
							<div class="twitter"><span style="font-size: 3rem;"><i class="fab fa-twitter"></span></i><div>Twitter</div></div>
							<div class="instagram"><span style="font-size: 3rem;"><i class="fab fa-instagram"></span></i>
							Instagram</div>
							<div class="youtube"><span style="font-size: 3rem;"><i class="fab fa-youtube"></span></i>Youtube</div>
							<div class="googleplus"><span style="font-size: 3rem;"><i class="fab fa-google-plus-g"></span></i>Google+</div>
						</div>
						<div class="information">
							<div class="cause">Join the Cause</div>
							<div class="accessibility">Accessibility</div>
							<div class="careers">Careers</div>
							<div class="newsroom">Newsroom</div>
							<div class=contactus>Contact Us</div>
							<div class="termsofuse">Terms of Use</div>
							<div class="privacypolicy">Privacy Policy</div>
						</div>
						<div class="moreinfo">
							<div class="cc">©EnergyVista</div>
							<div class="address">Final Project 209 Team University of California at Berkeley</div>
						</div>
					</div>
				</div><!-- end to inner #5 -->
			</section><!-- end to section #5 -->
		</div>
	</body>
</html>