<html>
	<head>
		<title>EnergyVista: Navigating Tomorrow's Energy Landscape</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto:500,900" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Text+Me+One|Ubuntu" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC" rel="stylesheet">
	</head>
	<body>
		<nav>
			<div class="inner">
				<div class="navbar">
					<div id="container" class="nav">
						<div class="dropdown">
						<a class="navbutton" href="index.html">Home</a>
						</div>
						<div class="dropdown">
							<a class="navbutton" href="energyoverview.html">Energy Overview</a>
							<div class="dropdown-content">
						      <a href="energyoverview.html#general_trends">Energy Generation Trends</a>
						      <a href="energyoverview.html#consumption">Energy Consumption/Generation Comparison</a>
						      <a href="energyoverview.html#expenditure">Energy Expenditure/Cost</a>
						    </div>
						</div>
						<div class="dropdown">
						<a class="navbutton" href="energyprojections.html">Energy Projections</a>
						</div>
						<div class="dropdown">
						<a class="navbutton" href="cleanenergy.html">Clean Energy & Emissions</a>
							<div class="dropdown-content">
						      <a href="cleanenergy.html#US">CO2 in the US</a>
						      <a href="cleanenergy.html#World">CO2 in the World</a>
						    </div>
						</div>
						<div class="dropdown">
						<a class="navbutton" href="datasources.html">Data Sources</a>
						</div>
						<div class="dropdown">
						<a class="navbutton" href="contact.html">Contact</a>
						<div class="search"><input type="text" placeholder="Search.."></div>
					</div>
				</div>
		</nav>	
		<div class="lower">
			<section class="one1"><!-- start to section one -->
				<div class="inner">	<!-- start to inner #1 -->
					<div class="first1">
						<img class="sky" src="{{ url_for('static', filename='sky.png') }}"/>
							<div class="mains1">
								<div class="paragraphs">Data Sources</div>
							</div>
					</div>
				</div> <!-- end inner #1 -->
			</section><!-- end to section one -->
			<section class="two2"><!--start to section two -->
				<div class="inner"> <!-- start to inner #2 -->
					<div class="datasources">At Company X, our core philosophy revolves around transparency, ensuring that the information we deliver is not only accurate but also rooted in reliability. We take pride in the meticulous analysis and insights we provide, all of which are meticulously derived from reputable and credible data sources within the energy sector. Our dedication to transparency extends beyond mere declarations; it is ingrained in our practices. To empower our audience and stakeholders, we go the extra mile by providing direct links to the datasets used in our charts, insights, and projections. Below is a comprehensive list of the primary data sources we leverage to shape the content that defines our commitment to delivering informative, data-driven narratives in the ever-evolving landscape of the energy sector:
						<br>
					    <br>

						<ol>
						    <li>
						        Bullfrog Power. “Virtual Power Purchase Agreements (VPPAs) Explained.” Bullfrog Power, 2020.
						        <a href="https://bullfrogpower.com/wp-content/uploads/2020/01/VPPA-iStock-662095604-002.png">Bullfrog Power VPPA</a>.
						    </li>
						    <br>
						    <li>
						        Janzen, Peter. "Blue Sky Partly Tinted Sundown."
						        Blue sky,partly tinted by sundown, January 23, 2017.
						        <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fcc0.photo%2F2017%2F01%2F23%2Fblue-sky-partly-tinted-sundown%2F&psig=AOvVaw1mJgZuJi9MH76Dn8xkoBNc&ust=1701820882857000&source=images&cd=vfe&ved=0CBIQjRxqFwoTCMDX4IP_9oIDFQAAAAAdAAAAABAc">Blue Sky Image</a>.
						    </li>
						    <br>
						    <li>
						        Preset Pro. "Creative Edit: Pastel Sky."
						        [PresetPro], August 2015.
						        <a href="https://www.presetpro.com/wp-content/uploads/2015/08/Creative-Edit-Pastel-Sky.png">Pastel Sky Image</a>.
						    </li>
						    <br>
						    <li>
						        U.S. Energy Information Administration. "State Energy Data System (SEDS)." EIA.
						        <a href="https://www.eia.gov/state/seds/seds-data-complete.php#StatisticsIndicators">SEDS Data</a>.
						    </li>
						    <br>
						    <li>
						        "British Thermal Unit." Wikipedia, Wikimedia Foundation.
						        <a href="https://en.wikipedia.org/wiki/British_thermal_unit">Wikipedia - British Thermal Unit</a>.
						    </li>
						    <br>
						    <li>
						        U.S. Energy Information Administration. "California State Energy Profile." EIA.
						        <a href="https://www.eia.gov/state/analysis.php?sid=CA">California State Energy Profile</a>.
						    </li>
						    <br>
						    <li>
						        U.S. Energy Information Administration. "Hawaii State Energy Profile." EIA.
						        <a href="https://www.eia.gov/state/?sid=HI">Hawaii State Energy Profile</a>.
						    </li>
						    <br>
						    <li>
						        United Nations. "Net-Zero Coalition." UN Climate Change.
						        <a href="https://www.un.org/en/climatechange/net-zero-coalition">Net-Zero Coalition</a>.
						    </li>
						    <br>
						    <li>
						        World Bank. "CO2 Emissions (Metric Tons Per Capita)." World Bank.
						        <a href="https://data.worldbank.org/indicator/EN.ATM.CO2E.KT">CO2 Emissions - World Bank</a>.
						    </li>
						    <br>
						    <li>
						        U.S. Energy Information Administration. "State Carbon Dioxide Emissions Data." EIA.
						        <a href="https://www.eia.gov/environment/emissions/state/">CO2 Emissions Data</a>.
						    </li>
						    <br>						    
						    <li>
						        The Intergovernmental Panel on Climate Change. "Future changes of carbonaceous aerosol emissions." IPCC. <a href="https://www.ipcc.ch/">CO2 Emissions Information</a>.
						    </li>
						    <br>
						    <li>
						        World Health Organization. "Health leaders at the WHS support WHO commitment to build climate resilient, low carbon sustainable health systems (ATACH)." WHO. <a href="https://www.who.int/news/item/17-10-2023-health-leaders-at-the-whs-support-who-commitment-to-build-climate-resilient-low-carbon-sustainable-health-systems">CO2 Emissions Information</a>.
						    </li>
							<br>
							<li>
						        Kaggle. "US Energy Generation (2001-2022)." Kaggle.
						        <a href="https://www.kaggle.com/datasets/kevinmorgado/us-energy-generation-2001-2022/">Kaggle - US Energy Generation Dataset</a>.
						    </li>						    
						</ol>
					</div>
				</div><!-- end to inner #2 -->
			</section><!-- end to section #2 -->
			
			<section class="five1"><!--start to section five -->
				<div class="inner"> <!-- start to inner #5 -->
					<div class="section6">
						<div class="socialmedia">
							<div class="facebook"><span style="font-size: 3rem;"><i class="fab fa-facebook-f"></span></i><div>Facebook</div></div>
							<div class="twitter"><span style="font-size: 3rem;"><i class="fab fa-twitter"></span></i><div>Twitter</div></div>
							<div class="instagram"><span style="font-size: 3rem;"><i class="fab fa-instagram"></span></i>
							Instagram</div>
							<div class="youtube"><span style="font-size: 3rem;"><i class="fab fa-youtube"></span></i>Youtube</div>
							<div class="googleplus"><span style="font-size: 3rem;"><i class="fab fa-google-plus-g"></span></i>Google+</div>
						</div>
						<div class="information">
							<div class="cause">Join the Cause</div>
							<div class="accessibility">Accessibility</div>
							<div class="careers">Careers</div>
							<div class="newsroom">Newsroom</div>
							<div class=contactus>Contact Us</div>
							<div class="termsofuse">Terms of Use</div>
							<div class="privacypolicy">Privacy Policy</div>
						</div>
						<div class="moreinfo">
							<div class="cc">©EnergyVista</div>
							<div class="address">Final Project 209 Team University of California at Berkeley</div>
						</div>
					</div>
				</div><!-- end to inner #5 -->
			</section><!-- end to section #5 -->
		</div>
	</body>
</html>
