<html>
	<head>
		<title>EnergyVista: Navigating Tomorrow's Energy Landscape</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto:500,900" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Text+Me+One|Ubuntu" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC" rel="stylesheet">
	</head>
	<body>
		<nav>
			<div class="inner">
				<div class="navbar">
					<div id="container" class="nav">
						<div class="dropdown">
						<a class="navbutton" href="index.html">Home</a>
						</div>
						<div class="dropdown">
							<a class="navbutton" href="energyoverview.html">Energy Overview</a>
							<div class="dropdown-content">
						      <a href="energyoverview.html#general_trends">Energy Generation Trends</a>
						      <a href="energyoverview.html#consumption">Energy Consumption/Generation Comparison</a>
						      <a href="energyoverview.html#expenditure">Energy Expenditure/Cost</a>
						    </div>
						</div>
						<div class="dropdown">
						<a class="navbutton" href="energyprojections.html">Energy Projections</a>
						</div>
						<div class="dropdown">
						<a class="navbutton" href="cleanenergy.html">Clean Energy & Emissions</a>
							<div class="dropdown-content">
						      <a href="cleanenergy.html#US">CO2 in the US</a>
						      <a href="cleanenergy.html#World">CO2 in the World</a>
						    </div>
						</div>
						<div class="dropdown">
						<a class="navbutton" href="datasources.html">Data Sources</a>
						</div>
						<div class="dropdown">
						<a class="navbutton" href="contact.html">Contact</a>
						<div class="search"><input type="text" placeholder="Search.."></div>
					</div>
				</div>
		</nav>	
		<div class="lower">
			<section class="one"><!-- start to section one -->
				<div class="inner">
					<div class="first">
						<img class="homeimage" src="../static/homeimage.png"/>
						<div class="mains">
							<div class="discover">Navigating Tomorrow's Energy Landscape </div> 
							<div class="explore">Explore</div>
						</div>
					</div>
				</div> <!-- end inner #1 -->
			</section><!-- end to section one -->
			<section class="two"><!--start to section two -->
				<div class="inner">
					<div class = "fullpagesection1">
						<div class="label">Website Overview</div>					
						<div class="mission"> Welcome to EnergyVista, your gateway to a comprehensive exploration of the dynamic and ever-evolving world of energy. Our website is a dedicated platform committed to delivering essential insights that illuminate the intricacies of today's energy landscape and guide us toward a sustainable future. </div>
					</div>
				</div> <!-- end inner #2 -->
			</section> <!-- end to section two -->
			<section class="three"> <!-- start to section three -->
				<div class="inner">
					<div class ="fullpagesection">
						<div class="label">Our Mission</div>					
						<div class="mission">EnergyVista is on a mission to be a reliable source of information for the Department of Energy (Intended Audience), guiding both the public and government officials towards making informed decisions that shape the future of our energy landscape. We are committed to shedding light on the intricate dynamics of energy trends, expenditures, and forecasts, with a specific emphasis on the bright possibilities within nonrenewable resources. By delivering essential insights derived from two decades of comprehensive data, we aim to empower our stakeholders, fostering a deeper understanding of the complexities at play. EnergyVista believes that through knowledge, collaboration, and a forward-thinking approach, we can collectively steer towards a more sustainable and resilient energy future.</div>
					</div>
				</div> <!-- end inner #3 -->
			</section> <!-- end to section three -->
			<section class="five"> <!-- start to section five -->
				<div class="inner">
					<div class="fifth">
						<img class="aboutus" src="../static/aboutus.png"/>
						<div class="rightbox">
							<div class="top">About Us</div> 
							<div class="line"> - </div>
							<div class="paragraph">
								EnergyVista is a forward-thinking nonprofit organization committed to advancing knowledge, awareness, and sustainable practices within the energy sector. Founded on the principles of transparency, collaboration, and a dedication to shaping a cleaner and more resilient energy future, EnergyVista serves as a beacon of information and advocacy. 'Energy' -- our dedication to focus on all matters related to the industry. "Vista" -- encapsulates our commitment to providing a comprehensive and wide-ranging view of the energy sector. As a nonprofit entity, our primary objective is not financial gain, but rather the promotion of informed decision-making within both the public and private sectors. We leverage over two decades of expertise in analyzing energy trends, expenditures, and forecasts to provide valuable insights to individuals, businesses, and government entities.
							</div>
							<div class="learnmore"> Learn more</div>
						</div>
					</div>
				</div> <!-- end inner #5 -->
			</section> <!-- end to section five -->
			<section class="sixth">
				<div class="inner">
					<div class="section6">
						<div class="socialmedia">
							<div class="facebook"><span style="font-size: 3rem;"><i class="fab fa-facebook-f"></span></i><div>Facebook</div></div>
							<div class="twitter"><span style="font-size: 3rem;"><i class="fab fa-twitter"></span></i><div>Twitter</div></div>
							<div class="instagram"><span style="font-size: 3rem;"><i class="fab fa-instagram"></span></i>
							Instagram</div>
							<div class="youtube"><span style="font-size: 3rem;"><i class="fab fa-youtube"></span></i>Youtube</div>
							<div class="googleplus"><span style="font-size: 3rem;"><i class="fab fa-google-plus-g"></span></i>Google+</div>
						</div>
						<div class="information">
							<div class="cause">Join the Cause</div>
							<div class="accessibility">Accessibility</div>
							<div class="careers">Careers</div>
							<div class="newsroom">Newsroom</div>
							<div class=contactus>Contact Us</div>
							<div class="termsofuse">Terms of Use</div>
							<div class="privacypolicy">Privacy Policy</div>
						</div>
						<div class="moreinfo">
							<div class="cc">©EnergyVista</div>
							<div class="address">Final Project 209 Team University of California at Berkeley</div>
						</div>
					</div>
				</div> <!-- end inner #6 -->
			</section>
		</div>
	</body>
</html>